{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}


{% block styles %}
    {% include "_styles.html" %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}

{% block topbar_base %}
<header>
	<div class="navbar navbar-inverse {% block navbar_class %}navbar-fixed-top{% endblock %}">
		<div class="container">
			{% block topbar %}
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="fa fa-bars"></span>
				</button>
				{% block site_brand %}<a class="navbar-brand" href="{% url "home" %}">{{ SITE_NAME }}</a>{% endblock %}
			</div>
			<div class="collapse navbar-collapse navbar-responsive-collapse">
				{% block nav %}
				<ul class="nav navbar-nav">
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Service<span class="caret"></span></a>
					  <ul class="dropdown-menu">
					  	<li><a href="{% url 'mainsite:service' 'Companies For Sale' %}">Companies For Sale</a></li>
					  	<li><a href="{% url 'mainsite:service' 'Looking for Funding' %}">Looking for Funding</a></li>
					  	<li><a href="{% url 'mainsite:service' 'Technologies Transfer' %}">Technologies Transfer</a></li>
					  	<li><a href="{% url 'mainsite:service' 'Look for Partners' %}">Look for Partners</a></li>
					  	<li><a href="{% url 'mainsite:service' 'Look for Markets' %}">Look for Markets</a></li>
					  </ul>
					</li>
					<li><a href="{% url 'browsepartners' %}">Partners</a></li>
					<li><a href="#about">Team</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search<span class="caret"></span></a>
					  <ul class="dropdown-menu">
					  	<li><a href="{% url 'mainsite:browseProject' 'ALL' %}">All Indutries</a></li>
					  	<li><a href="{% url 'mainsite:browseProject' 'Bio Science' %}">Bio Science</a></li>
					  	<li><a href="{% url 'mainsite:browseProject' 'Medical Devices' %}">Medical Devices</a></li>
					  	<li><a href="{% url 'mainsite:browseProject' 'Health Care' %}">Health Care</a></li>
					  	<li><a href="{% url 'mainsite:browseProject' 'Agriculture' %}">Agriculture</a></li>
					  	<li><a href="{% url 'mainsite:browseProject' 'Green Energy' %}">Green Energy</a></li>
					  	<li><a href="{% url 'mainsite:browseProject' 'Entertainment' %}">Entertainment</a></li>
					  	<li><a href="{% url 'mainsite:browseProject' 'Aviation' %}">Aviation</a></li>
					  	<li><a href="{% url 'mainsite:browseProject' 'Manufacturing' %}">Manufacturing</a></li>
					  	<li><a href="{% url 'mainsite:browseProject' 'Other' %}">Other</a></li>
					  </ul>
					</li>
				</ul>
				{% endblock %}
				{% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
			</div>
			{% endblock %}

		</div>
		{% block nav_sidebar %}{% endblock %}
	</div>
</header>
{% endblock %}
