{% extends "myaccount/myaccount_base.html" %}
{% load i18n %}{% load postman_tags %}

{% block page-header %}Hello {{ user.get_username }}{% endblock %}

{% block page-wrapper %}
<!-- <p>{{ request.user.get_profile.whatever }}</p> -->
<!-- <div class="well well-lg">
    <h4>Hello {{ user.get_username }}</h4>
</div> -->
<div class="row">
	<div class="col-lg-4 col-md6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-comments fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{% postman_unread as unread_count %}{% if unread_count %}{{unread_count}}{% else %} 0 {% endif %}</div>
						<div>New Messages!</div>
					</div>
				</div>
			</div>
			<a href="{% url 'postman_inbox' %}">
				<div class="panel-footer">
					<span class="pull-left">View Details</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-4 col-md6">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-pagelines fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{ projectsCount }}</div>
						<div>Projects!</div>
					</div>
				</div>
			</div>
			<a href="{% url 'myaccount:myProjects' %}">
				<div class="panel-footer">
					<span class="pull-left">View Details</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-4 col-md-6">
		<div class="panel panel-yellow">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-shopping-cart fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">124</div>
						<div>New Orders!</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span class="pull-left">View Details</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
</div>
{% endblock %}